<a href="https://colab.research.google.com/github/emilebosman39154/emilebosman39154/blob/main/P4E_Lesson%206.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LESSON 6 - FUNCTIONS**

Definition: Functions is a name provided to a sequence of statements which will perform or execute a given computation.

How: You define a function, by giving it a name (e.g. print() ) and where it is not a defined function from within Python you will also specify the sequence of statements to be executed upon calling the function.

In [ ]:
type("Hello World")

In the above *type* is the **function** and **str** is the *return value*.

The "Hallo World" in brackets is called the *argument* of the function.  It is an input to the funtion.  It will quite likely be a **value of a variable**.

*A Function **takes an argument** and **returns a result** (or **return value**)*

BUILD IN FUNCTIONS IN PYTHON

There are 68 build-in functions in Python:

Python abs()
returns absolute value of a number

Python all()
returns true when all elements in iterable is true

Python any()
Checks if any Element of an Iterable is True

Python ascii()
Returns String Containing Printable Representation

Python bin()
converts integer to binary string

Python bool()
Converts a Value to Boolean

Python bytearray()
returns array of given byte size

Python bytes()
returns immutable bytes object

Python callable()
Checks if the Object is Callable

Python chr()
Returns a Character (a string) from an Integer

Python classmethod()
returns class method for given function

Python compile()
Returns a Python code object

Python complex()
Creates a Complex Number

Python delattr()
Deletes Attribute From the Object

Python dict()
Creates a Dictionary

Python dir()
Tries to Return Attributes of Object

Python divmod()
Returns a Tuple of Quotient and Remainder

Python enumerate()
Returns an Enumerate Object

Python eval()
Runs Python Code Within Program

Python exec()
Executes Dynamically Created Program

Python filter()
constructs iterator from elements which are true

Python float()
returns floating point number from number, string

Python format()
returns formatted representation of a value

Python frozenset()
returns immutable frozenset object

Python getattr()
returns value of named attribute of an object

Python globals()
returns dictionary of current global symbol table

Python hasattr()
returns whether object has named attribute

Python hash()
returns hash value of an object

Python help()
Invokes the built-in Help System

Python hex()
Converts to Integer to Hexadecimal

Python id()
Returns Identify of an Object

Python input()
reads and returns a line of string

Python int()
returns integer from a number or string

Python isinstance()
Checks if a Object is an Instance of Class

Python issubclass()
Checks if a Class is Subclass of another Class

Python iter()
returns an iterator

Python len()
Returns Length of an Object

Python list()
creates a list in Python

Python locals()
Returns dictionary of a current local symbol table

Python map()
Applies Function and Returns a List

Python max()
returns the largest item

Python memoryview()
returns memory view of an argument

Python min()
returns the smallest value

Python next()
Retrieves next item from the iterator

Python object()
creates a featureless object

Python oct()
returns the octal representation of an integer

Python open()
Returns a file object

Python ord()
returns an integer of the Unicode character

Python pow()
returns the power of a number

Python print()
Prints the Given Object

Python property()
returns the property attribute

Python range()
return sequence of integers between start and stop

Python repr()
returns a printable representation of the object

Python reversed()
returns the reversed iterator of a sequence

Python round()
rounds a number to specified decimals

Python set()
constructs and returns a set

Python setattr()
sets the value of an attribute of an object

Python slice()
returns a slice object

Python sorted()
returns a sorted list from the given iterable

Python staticmethod()
transforms a method into a static method

Python str()
returns the string version of the object

Python sum()
Adds items of an Iterable

Python super()
Returns a proxy object of the base class

Python tuple()
Returns a tuple

Python type()
Returns the type of the object

Python vars()
Returns the __dict__ attribute

Python zip()
Returns an iterator of tuples

Python __import__()
Function called by the import statement

More are being added continuoously: https://docs.python.org/3/library/functions.html

**15 of the most commonly used Functions are:**

print( ) function
type( ) function
input( ) function
abs( ) function
pow( ) function
dir( ) function
sorted( ) function
max( ) function
round( ) function
divmod( ) function
id( ) function
ord( ) function
len( ) function
sum( ) function
help( ) function

1. **print()**

The print() function prints the specified message to the screen or another standard output device.

The message that wants to print can be a string or any other object. This function converts the object into a string before written to the screen.

In [ ]:
print("Analytics Vidhya is the Largest Data Science Community in the world")

2. **type()**

The type() function returns the type of the specified object.

In [ ]:
list_of_fruits = ('apple', 'banana', 'cherry', 'mango')
print(type(list_of_fruits))

3. **input()**

The input() function allows taking the input from the user.

In [ ]:
a = input('Enter your name:')
print('Hello, ' + a + ' of Analytics Vidhya')

4. **abs()**

The abs() function returns the absolute value of the specified number.  What is an absolute number: Absolute value of a number is the value without considering its sign. Hence absolute of 10 is 10, -10 is also 10. If the number is a complex number, abs() returns its magnitude.

![image.png]()

In [ ]:
negative_number  = -676
print(abs(negative_number))

5. **pow()**

The pow() function returns the calculated value of x to the power of y i.e, xy.

If a third parameter is present in this function, then it returns x to the power of y, modulus z.

In [ ]:
x = pow(3, 4)
print(x)

81

6. **dir()**

The dir() function returns all the properties and methods of the specified object, without the values.

This function even returns built-in properties which are the default for all objects (functions , modules, strings, lists, dictionaries etc.).

In [ ]:
class Person:
  name = "Chirag Goyal"
  age = 19
  country = "India"
  education = "IIT Jodhpur"
print(dir(Person))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'age', 'country', 'education', 'name']

7. **sorted()**

The sorted() function returns a sorted list of the specified iterable object.

You can specify the order to be either ascending or descending. In this function, Strings are sorted alphabetically, and numbers are sorted numerically.

NOTE: If a list contains BOTH string values AND numeric values, then we cannot sort it.

***Below: 1st example is sorted in ascending order and the 2nd example in descending order.***

In [ ]:
tuple = ("h", "b", "a", "c", "f", "d", "e", "g")
print(sorted(tuple))

In [ ]:
tuple = ("h", "b", "a", "c", "f", "d", "e", "g")
print(sorted(tuple, reverse=True))

8. **max()**

The max() function returns the item with the maximum value.

If the values this function takes are strings, then it is done using an alphabetical comparison.

In [ ]:
names_tuple = ('Chirag', 'Kshitiz', 'Dinesh', 'Kartik')
print(max(names_tuple))

In [ ]:
number_tuple = (2785, 545, -987, 1239, 453)
print(max(number_tuple))

9. **round()**

The round() function **returns a floating-point number** that is a rounded version of the specified number, with the specified number of decimals.

The default number of decimals is 0, meaning that the **function will return the nearest integer.**

In [ ]:
nearest_number = round(87.76432)
print(nearest_number)

In [ ]:
nearest_number = round(87.46432)
print(nearest_number)

10. **divmod()**

The divmod() function returns a tuple containing the quotient and the remainder when the first argument i.e, the dividend is divided by the second argument i.e, the divisor.

e.g. **Example 1: Display the quotient and the remainder when 7 is divided by 3:**

In [ ]:
x = divmod(7, 3)
print(x)

e.g. **Example 2: Display the quotient and the remainder when 72 is divided by 6:**

In [ ]:
x = divmod(72, 6)
print(x)

11. **id()**

The id() function **returns a unique id for the specified object**. *Note that all the objects in Python have their own unique id.*

The id is assigned to the object when it is created.

The **id is the objects memory address** and will be *different for each time you run the program.* (**except** for some object that has a constant unique id, *like integers from -5 to 256*)

In [ ]:
names_tuple = ('Chirag', 'Kshitiz', 'Dinesh', 'Kartik')
print(id(names_tuple))

In [ ]:
string = "Analytics Vidhya is the Largest Data Science Community"
print(id(string))

12. **ord()**

The ord() function **returns the number representing the Unicode code **of a **specified character**.

In [ ]:
x = ord("h")
print(x)

In [ ]:
x = ord("H")
print(x)

**Unicode Explained briefly:**

A **character code** that **defines every character in most of the speaking languages in the world**. Although commonly thought to be only a two-byte coding system, Unicode characters can use only one byte, or up to four bytes, to hold a Unicode "code point" (see below). The code point is a unique number for a character or some symbol such as an accent mark or ligature. Unicode supports more than a million code points, which are written with a "U" followed by a plus sign and the number in hex; for example, the word "**Hello"** is written **U+0048 U+0065 U+006C U+006C U+006F**

13. **len()**

The len() function **returns the count of items present in a specified object**.

When the object is a **string**, then the len() function **returns the number of characters present in that string**.

In [ ]:
fruit_list = ["apple", "banana", "cherry", "mango", "pear"]
print(len(fruit_list))

In [ ]:
string = "Analytics Vidhya is the Largest Data Science Community"
print(len(string))

14. **sum()**

The sum() function returns a number, the sum of all items in an iterable.

**Difference between iterable and iterator:**

Iterable is an object, that one can iterate over. It generates an Iterator when passed to iter() method. An iterator is an object, which is used to iterate over an iterable object using the __next__() method. Iterators have the __next__() method, which returns the next item of the object. Note that every iterator is also an iterable, but not every iterable is an iterator. For example, a list is iterable but a list is not an iterator. An iterator can be created from an iterable by using the function iter(). To make this possible, the class of an object needs either a method __iter__, which returns an iterator, or a __getitem__ method with sequential indexes starting with 0.

In [ ]:
list = [1, 2, 3, 4, 5]
print(sum(list))

15. **help()**

The help() function is used to **display the documentation of modules, functions, classes, keywords, etc.**

If we dont give an argument to the help function, then the interactive help utility starts up on the console.

In [ ]:
help(sum)

In [ ]:
help(print)

**TYPE CONVERSION FUNCTIONS**


Python defines type conversion functions like int(), float(), str() to directly convert one data type into another. This type of conversion is also called typecasting because the user casts (change) the data type of the objects. This function converts any data type into integer.

In Python, the conversion of data type is called an implicit conversion of data type when it takes place during compilation, or during run time. Python manages the conversion of the implicit data type, so we do not directly convert the data type to another data type.

Besides the int(str) functions, Python support other type conversion functions. The following shows the most important ones for now:

float(str)  convert a string to a floating-point number.
bool(val)  convert a value to a boolean value, either True or False.
str(val)  return the string representation of a value.

**Recap on Data Types:**

In [ ]:
type(100)

In [ ]:
type(2.0)

In [ ]:
type('Hello')

In [ ]:
type(True)

**Type Conversion 1:**

**Implicit Type Conversion**

In Implicit type conversion, Python automatically converts one data type to another data type. This process doesn't need any user involvement.

Let's see an example where Python promotes the conversion of the lower data type (integer) to the higher data type (float) to avoid data loss.

**Example 1: Converting integer to float:**

In [ ]:
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

**In the above program:**


We add two variables **num_int** and **num_flo**, storing the value in **num_new**.

We will look at the data type of all three objects respectively.

In the output, we can see the data type of **num_int** is an *integer* while the data type of n**um_flo** is a *float*.

Also, we can see the **num_new** has a *float data type* because ***Python always converts smaller data types to larger data types to avoid the loss of data.***

Now, let's try adding a string and an integer, and see how Python deals with it.

**Example 2: Addition of string(higher) data type and integer(lower) datatype:**

In [ ]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

print(num_int+num_str)

**In the above program:**

We add two variables **num_int** and **num_str**.

As we can see from the output, we got **TypeError**. Python is not able to use Implicit Conversion in such conditions.

However, Python has a solution for these types of situations which is known as **Explicit Conversion.**

**Type Conversion 2:**

**Exlicit Type Conversion** 

In Explicit Type Conversion, users convert the data type of an object to required data type. We use the predefined functions like int(), float(), str(), etc. to perform explicit type conversion.

This type of conversion **is also called typecasting** because the ***user casts (changes) the data type of the objects.***

**Syntax :**

In [ ]:
# <required_datatype>(expression)

**Example 3: Addition of string and integer using explicit conversion**

In [9]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))

num_str = int(num_str)
print("Data type of num_str after Type Casting:",type(num_str))

num_sum = num_int + num_str

print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'int'>
Sum of num_int and num_str: 579
Data type of the sum: <class 'int'>

**In the above program:**

We add **num_str** and **num_int** variable.

We converted **num_str** from string(higher) to integer(lower) type using int() function to perform the addition.

After converting **num_str** to an integer value, Python is able to add these two variables.

We got the num_sum value and data type to be an integer.

**BASIC ORDINARY TYPE CONVERSIONS:**

**Converting into integer:**

In [ ]:
int('32')

In [ ]:
int('Hello')

**Converting float-point to integer:**

Note: is does **NO ROUNDING OFF**.

In [ ]:
int(4.76986)

In [ ]:
int(-6.35435)

**Converting integers nd strings to float-point numbers:**

In [ ]:
float(32)

In [ ]:
float('5.3245')

**Converting an argument to a string:**

In [ ]:
str(32)

In [ ]:
str(5.43754)

***MATH FUNCTIONS ***

Python has a ***math module*** for this.

**NOTE:** you have to import this before it can be used:

>>> import math

A Module object is now created by the above statement and is called *math*.

**Mathematical Operators vs. Math Functions**

For *straightforward mathematical calculations* in Python, you can use the **built-in mathematical operators**, such as addition (+), subtraction (-), division (/), and multiplication (*). 

But *more advanced operations*, such as exponential, logarithmic, trigonometric, or power functions, are not built in - then you use the math functions in the **build-in math module**.

**Applications or uses of Math Module:**

The Python math module offers you the ability to perform common and useful mathematical calculations within your application. Here are a few practical uses for the math module:

1. Calculating combinations and permutations using factorials

2. Calculating the height of a pole using trigonometric functions

3. Calculating radioactive decay using the exponential function

4. Calculating the curve of a suspension bridge using hyperbolic functions

5. Solving quadratic equations

6. Simulating periodic functions, such as sound and light waves, using trigonometric functions

In [ ]:
import math
print(math)

This (and other **modules**) contains **functions** and **variables** related to the math module.

To use the functions you need to specify the name of the module and the function with a **dot notation** (dot or period).

List of Math Functions in Math Module:

Function -	Description

ceil(x)	- Returns the smallest integer greater than or equal to x

copysign(x, y)	- Returns x with the sign of y

fabs(x)	- Returns the absolute value of x

factorial(x)	- Returns the factorial of x

floor(x)	- Returns the largest integer less than or equal to x

fmod(x, y)	- Returns the remainder when x is divided by y

frexp(x)	- Returns the mantissa and exponent of x as the pair (m, e)

fsum(iterable)	- Returns an accurate floating point sum of values in the iterable

isfinite(x)	- Returns True if x is neither an infinity nor a NaN (Not a Number)

isinf(x)	- Returns True if x is a positive or negative infinity

isnan(x)	- Returns True if x is a NaN

ldexp(x, i)	- Returns x * (2**i)

modf(x)	- Returns the fractional and integer parts of x

trunc(x)	- Returns the truncated integer value of x

exp(x)	- Returns e**x

expm1(x)	- Returns e**x - 1

log(x[, b])	- Returns the logarithm of x to the base b (defaults to e)

log1p(x)	- Returns the natural logarithm of 1+x

log2(x)	- Returns the base-2 logarithm of x

log10(x)	- Returns the base-10 logarithm of x

pow(x, y)	- Returns x raised to the power y

sqrt(x)	- Returns the square root of x

acos(x)	- Returns the arc cosine of x

asin(x)	- Returns the arc sine of x

atan(x)	- Returns the arc tangent of x

atan2(y, x)	- Returns atan(y / x)

cos(x)	- Returns the cosine of x

hypot(x, y)	- Returns the Euclidean norm, sqrt(x*x + y*y)

sin(x)	- Returns the sine of x

tan(x)	- Returns the tangent of x

degrees(x)	- Converts angle x from radians to degrees

radians(x)	- Converts angle x from degrees to radians

acosh(x)	- Returns the inverse hyperbolic cosine of x

asinh(x)	- Returns the inverse hyperbolic sine of x

atanh(x)	- Returns the inverse hyperbolic tangent of x

cosh(x)	- Returns the hyperbolic cosine of x

sinh(x)	- Returns the hyperbolic cosine of x

tanh(x)	- Returns the hyperbolic tangent of x

erf(x)	- Returns the error function at x

erfc(x)	- Returns the complementary error function at x

gamma(x)	- Returns the Gamma function at x

lgamma(x)	- Returns the natural logarithm of the absolute value of the Gamma function at x

pi	- Mathematical constant, the ratio of circumference of a circle to it's diameter (3.14159...)

e	- mathematical constant e (2.71828...)

Commonly Used Math functions:

In [ ]:
# Square root calculation

import math
math.sqrt(4)

In [ ]:
# Power Used to raise x value. It raises the first to the second and returns the result. In other words, pow(5,2) is equivalent to 4**4. Example: 

pow(5,2)

**CONSTANTS in the Math Module:**

one is **pi**

What is pi?

The number ** **is a mathematical constant that is the **ratio of a circle's circumference to its diameter**, approximately equal to ......

funtion: math.pi

**Interesting fact:**

**PiDay is on 14 March** - why? Calculate pi. below and see if you get the answer.

In [ ]:
math.pi

**FACTORIALS**

You may have seen mathematical expressions like 7! or 4! before. The exclamation marks dont mean that the numbers are excited. Rather, **! **is the **factorial symbol**. Factorials are used in **finding permutations or combinations**. **You can determine the factorial of a number by multiplying all whole numbers from the chosen number down to 1.**

The following table shows the factorial values for 4, 6, and 7:

Symbol	In Words	Expression	Result

4!	Four factorial =	4 x 3 x 2 x 1	24

6!	Six factorial	 = 6 x 5 x 4 x 3 x 2 x 1	720

7!	Seven factorial	= 7 x 6 x 5 x 4 x 3 x 2 x 1	5040

In [ ]:
math.factorial(7)

In [ ]:
math.factorial(-5)

In [ ]:
math.factorial(4.3)