<a href="https://colab.research.google.com/github/emilebosman39154/emilebosman39154/blob/main/P4E_Lesson14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lesson 14 : Chapter 8 Lists**

# **Quick Test**

**1. None

In [ ]:
l

# **Class Notes:**

1. Python Calculator
2. Lists

# **1. Python Calculator**

In [ ]:
def add(a, b):
    answer = a + b
    print(str(a) + " + " + str( b) + " = " + str(answer) + "\n")
def sub(a, b):
    answer = a - b
    print(str(a) + " - " + str(b ) + " = " + str(answer) + "\n")
def mul(a, b):
    answer = a*b
    print(str(a) + " * " + str(b) + " = " + str(answer) + "\n")
def div(a, b):
    answer = a / b
    print(str(a) + " / " + str(b) + " = " + str(answer) + "\n")

while True:
    print("A. Addition")
    print("B. Subtraction")
    print("C. Multiplication")
    print("D. Division")
    print("E. Exit")
    choice = input("input your choice: ")

    if choice == "a" or choice == "A":
        print("Addition")
        a = int(input("input first number: "))
        b = int(input("input second number: "))
        add(a, b)
    elif choice == "b" or choice == "B":
        print("Subtraction")
        a = int(input("input first number:"))
        b = int(input("input second number: "))
        sub(a, b)
    elif choice == "c" or choice == "C":
        print("Multiplication")
        a = int(input("input first number:"))
        b = int(input("input second number: "))
        mul(a, b)
    elif choice == "d" or choice == "D":
        print("Division" )
        a = int(input("input first number:"))
        b = int(input("input second number: "))
        div(a, b)
    elif choice == "e" or choice == "E":
        print("program ended")
        quit()

# **2. Chapter 8: Lists**

List a string, a list is a sequence of values. In a string, the values are characters; in a list, they can be any type. The values in list are called elements or sometimes items.

In [ ]:
list = ['spam', 2.0, 5, [10, 20]]
print(list)

['spam', 2.0, 5, [10, 20]]

The expression inside the brackets specifies the index.

In [ ]:
numbers = [17, 123]
numbers[1] = 5
print(numbers)
[17, 5]

[17, 5]

[17, 5]

Question: 
1. Why is 123 changed to 5?
2. Are list mutable or immutable? Why?

In above:

Index = [0] or [1], etc.

The value in the list = element [17,123]

Thus in lists there are a relationship (called: mapping) between indices and elements.

# **Traversing a list** (meaning moving back and forth)

In strings we do:

for cheese in cheeses:
    print(cheese)

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

Below: 
**len** returns the number of elements in the list. **range** returns a list of indices from 0 to n âˆ’ 1, where n is the length of the list. Each time through the loop, i gets the index of the next element. The assignment statement in the body uses i to read the old value of the element and to assign the new value.

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

Other methods of looping through a List:

In [ ]:
fruits = ["Apple", "Mango", "Banana", "Peach"]
[print(fruit + " juice") for fruit in fruits]

Showing only certain elements based on their indices:

In [ ]:
fruits = ["Apple", "Mango", "Banana", "Peach"]
 
# Constructs range object containing only 1 and 2
for i in range(1, 3):
  print(fruits[i])

Enumeate elements in a List (give their index values):

In [ ]:
fruits = ["Apple", "Mango", "Banana", "Peach"]
 
for index, element in enumerate(fruits):
  print(index, ":", element)

Using a While loop (iso a For Loop) with Lists:

In the code beneath, the condition is the length of the list; the i counter is set to zero, then it adds 1 every time the loop prints one item in the list. When i becomes greater than the number of items in the list, the while loop terminates.

In [ ]:
fruits = ["Apple", "Mango",  "Banana", "Peach"]
 
i = 0
while i < len(fruits):
  print(fruits[i])
  i = i + 1

Apple
Mango
Banana
Peach

**# 8.5 List Operators**

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = a + b
print(c)

In [ ]:
[0] * 4

[0, 0, 0, 0]

In [ ]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

**Slicing a List:**

In [ ]:
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3]

In [ ]:
t[:4]

['a', 'b', 'c', 'd']

In [ ]:
t[3:]

['d', 'e', 'f']

In [ ]:
t[:]