<a href="https://colab.research.google.com/github/emilebosman39154/emilebosman39154/blob/main/P4E_Lesson22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lesson 22 : Chapter 10 (Tuples)**

# **Quick Test**

1. What is the biggest difference between a list vs a tuple?

2. Syntax Differences


2.1 Write a syntax for a list and for a tuple and allocate it to a variable of your choice.  Hereby illustrated the syntax difference between a list and a tuple.

2.2 Show with a piece of code why/how a tuple is immutable.

3. In the following methods that can be used in lists, only 2 can be used in tuples:

append, count, extend, insert, index, pop, remove, reverse, sort 

3.1 Which are the two?

3.2 Why can they be used in tuples but not the other?

# **Quick Test Answers**

1. List is mutable while a tuple is immutable (cannot be changed)

2. List use [ ] and tuple use ( )

e.g. **A List can be changed**

In [ ]:
x = [1,2,3,4]
x[3] = "?"
print(x)

[1, 2, 3, '?']

**2.2 A String & Tuple cannot**

In [ ]:
# String Immutability
y = 'ABC'
y[2] = 'D'

TypeError: ignored

In [ ]:
# Tuple Immutability
z = (1,2,3,4,5,6)
z[5] = "7"

TypeError: ignored

**3. Allowed methods (from List in Tuples)**

3.1 count & index

3.2 All the other methods are modifying the list (which is not allowed in tuples)

**1. More on Tuples**

**1. NOT TO BE CONFUSED**

We write variables on the left = followed by values / elements on the right (most of the time; and a good practice)

However, with Tuples you can switch this around.  Why? well have a look:

In [ ]:
(x, y) = (5, "Peter")
print(y)

Peter

In [ ]:
(x, y, z) = (5, "Peter")
print(y)

ValueError: ignored

**In above: **even though y is still link to Peter, as the second element, the comparison between the two (2) Tuples are unevenly paired which renders the error:

ValueError: not enough values to unpack (expected 3, got 2)

**NOTE: **the functions (e.g. print still works from the left to the right, not the other way around)

In [ ]:
(x, y) = (5, "Peter")
print(5)

5

**2. Tuples and Dictionaries**

In [ ]:
# Create and empyty dictionary
d = dict()

# Add elements (key:value pairs) to this dictionary
d['ABC'] = 1
d['DEF'] = 2
d['GHI'] = 3

# Loop through the dictionary and print the key:value pairs
for (k,v) in d.items():
  print(k,v)

# Creating now a list of Tuples: Output: dict_items([('ABC', 1), ('DEF', 2), ('GHI', 3)])
tuples = d.items()
print(tuples)

# The datatype is referred to as dict_items
type(tuples)

ABC 1
DEF 2
GHI 3
dict_items([('ABC', 1), ('DEF', 2), ('GHI', 3)])

dict_items

**3. Tuples can be compared with one another**

How and Why?

**3.1 How?**

In [ ]:
(6,1,1) < (5,1,2)

False

**Above:** It compares the value from the left to right and if it finds one that meets the comparison condition will respond with respective bolean response

In [ ]:
(6,1,2) < (5,1,2)

False

In [ ]:
('Jones','Sally') < ('Jones', 'Anderson')

False

Note: It is not concerned about upper and lower cases when comparing

**Why?**

Used in sorting of list of Tuples.

We will use two (2) methods: .item() and .sorted()

**.items() Method**

In Python Dictionary, items() method is used to **return the list with all dictionary keys with values**. **Syntax:** *dictionary.items()*. **Parameters:** *This method takes no parameters.* **Returns:** A view object that displays a list of a given dictionary's (key, value) tuple pair.

**.sorted() Method**

The sorted() method **sorts iterable data such as lists, tuples, and dictionaries**. But it sorts **by key only.** The sorted() method **puts the sorted items in a list.** That's another problem we have to solve, because we want the sorted dictionary to remain a dictionary - thus it needs to be converted.

In [ ]:
d = {'a':10, 'c': 1, 'b':22}
d.items()

# This shows the dictionary as is
print(d)

# This shows the puts the items in a list and creates a dict_item type
print(d.items())

# Now sorting these lists based on their KEY - without having to run a print function
sorted(d.items())

{'a': 10, 'c': 1, 'b': 22}
dict_items([('a', 10), ('c', 1), ('b', 22)])

[('a', 10), ('b', 22), ('c', 1)]

In [ ]:
d = {'a':10, 'c': 1, 'b':22}
s = sorted(d.items())
print(s)

[('a', 10), ('b', 22), ('c', 1)]

In [ ]:
for (k,v) in sorted(d.items()):  # (k,v) is still a tuple, going through the items but sort them before the time and then list them underneath each other
  print(k,v)

# Even though the dictionary items were not sorted (a, c, b).  The code above will sort
# them and then print them in its sorted order below

a 10
b 22
c 1

**4. Sorting by Values and not Key**

Using well construct data structure (list of tuples) where values is first and key second.

In [ ]:
# Dictionary in key:value pair order of a-c
c = {'a':10, 'b':1, 'c':22} 

# Create a tempory list in order to sort them
tmp = list() # which creates an empty list

# Now loop through the dictionary and append my list with the dictionary values
# however, do this is such a way as placing the values first and then the key as a list op tuples [( , )]
for (k,v) in c.items():
  tmp.append((v,k))   # tuple is change in the argument in the append method (values first, then key)

print(tmp) # Now you have a list of tuples with values as the first item

[(10, 'a'), (1, 'b'), (22, 'c')]

In [ ]:
# Now sort this list in reverse order from large to small based on the value
tmp = sorted(tmp, reverse=True)
print(tmp)

[(22, 'c'), (10, 'a'), (1, 'b')]

**Pactical Application:** ***Identify Top 10 Words in a text***

https://filesamples.com/formats/txt

In [ ]:
fhand = open('text_of_choice.txt')  # open the file
counts = dict()  # create an empty dictionary and assign to variable counts

# run through the words in the document, split them, count each word and allocate frequency of word occurence
for line in fhand:  # nested for loop: first loop goes through each line
  words = line.split()
  for word in words:  # next loop goes through each word
    counts[word] = counts.get(word, 0) + 1  # this makes a histogram of frequency of words (previous lesson)

# counts above is only a historgram and NOT sorted.  To sort it we need to create a list

lst = list()  # create empty list
for (key, val) in counts.items():  # loop through key:value and then make a tuple
  new_tuple = (val, key) # flip the value:key order to be able to sort on value and thus getting the top 10 key words
  lst.append(new_tuple)  # now we append the tuple to the list

lst = sorted(lst, reverse=True) # sort this in order from large to small

for (val, key) in lst[:10]: # iterate through based on the value to get the top 10
  print(key, val)  # we now need to print it in key:value to get the word first so flip this back to key:value

**Shorter version of the above:**

This is called a closed form since it is in one statement, whereas the previous is a procedural statement

In [ ]:
c = {'a':10, 'b':1, 'c':22} 

print(sorted([(v,k) for (k,v) in c.items()])) 
# after sorted a list is created()
# [(v,k)....] is called a list comprehension as an expression.  It is a for loop that gets
# by key in the section k,v in c.items()

**END OF TUPLES**

**Syntax:**

**Lists:** [ ]


The correct syntax to create a Python List is using the square brackets.

**Dictionaries:** { }

Dictionary is listed in curly brackets, inside these curly brackets, keys and values are declared. Each key is separated from its value by a colon (:), while commas separate each element.

**Tuples:** ( )

A tuple is created by placing all the items (elements) inside parentheses () , separated by commas.