<a href="https://colab.research.google.com/github/emilebosman39154/emilebosman39154/blob/main/P4ELesson2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Types in Python**

**Text Type:**	str

**Numeric Types:**	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

**1. String**

A string is a sequence of characters.

A character is simply a symbol. For example, the English language has 26 characters.

Computers do not deal with characters, they deal with numbers (binary). Even though you may see characters on your screen, internally it is stored and manipulated as a combination of 0s and 1s.

This conversion of character to a number is called encoding, and the reverse process is decoding. ASCII and Unicode are some of the popular encodings used.

In Python, a string is a sequence of Unicode characters. Unicode was introduced to include every character in all languages and bring uniformity in encoding.

**Looping through text**

In [ ]:
for x in "banana":
  print(x)

**Getting string length**

In [ ]:
a = "Hello, World!"
print(len(a))

**Check values in string**

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

**2. Integers**

In [ ]:
x = 5
print(type(x))

**3. Floating Point**

**4. Complex** **Numbers**

In [ ]:
a = 1 + 2j
print(a)

b = 3 - 4j
print(b)

a+b

# **Variables**

**Exercise:**
Create a variable named carname and assign the value Volvo to it

In [11]:

carname = "Volvo"

**Exercise:** Create a variable named x and assign the value 50 to it.

In [12]:

x  = 50

**Exercise:** Display the sum of 5 + 10, using two variables: x and y.

In [ ]:

x  = 5

y = 10
print(x+y)

**Exercise:** Create a variable called z, assign x + y to it, and display the result.

In [ ]:
x = 5
y = 10
z = x + y
print(z)

**Exercise:** Remove the illegal characters in the variable name: ***2my-first_name = "John"***

In [ ]:
myfirst_name = "John"

**Exercise:** Insert the correct syntax to assign the same value to all three variables in one code line.

In [15]:
x = y = z = "Orange"

**Exercise:** Insert the correct syntax to assign the same value to all three variables in one code line.